{% extends 'admin/base.html.twig' %}

{% block title %}
    <title>A propos</title>
{% endblock %}

{% block header %}
    <header class="hautpage">
        <a href="{{ path ('home')}}"> <img class="logo-header"  src="{{ asset('assets/img/logo_emma.jpg') }}" ></a>
        <a class="connexion" href="">Connexion</a>
        <a href="{{ path('admin_create_prestation') }}">Créer une prestation</a>

        <nav class="header-top">
            <ul class="nav-items">
                <li class="nav-items"><a href="{{ path ('home')}}">Accueil</a></li>
                <li class="nav-items"><a href="{{ path('admin_list_prestations') }}">Prestation</a></li>
                <li class="nav-items"><a href="{{ path('admin_contact')}}">Contact</a></li>
                <li class="nav-items"><a href="{{ path('admin_reservation') }}">Prendre rendez-vous</a></li>
                <li class="nav-items"><a href="{{ path('admin_liste_reservation') }}">Liste des rendez-vous</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block body %}
    <article class="apropos">
    <br>
    <img class="apropos1" src="{{ asset('assets/img/manon_image.jpg') }}">
    <img class="apropos2" src="{{ asset('assets/img/table.jpg') }}">
    <p>Possédant un BEP ainsi qu'un bac professionnel esthétique  j'ai décider de me lancer en solo afin d'appliquer des tarifs préférentiels et pour créer un lien fort avec ma clientèle.
    Je ne propose mes prestation qu'a une clientèle féminine</p>
    </article>
{% endblock %}

