<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>Acceuil</title>
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

</head>
<body>
{% block body %}
    <header class="hautpage">
        {% block header %}
            <a href="{{ path ('home')}}"> <img class="logo-header"  src="{{ asset('assets/img/logo_emma.jpg') }}" ></a>
            {% if app.session.started %}
            <a href="{{ path('app_logout') }}" class="connexion">Deconnexion</a>
            {% else %}
            <a href="{{ path('app_login') }}" class="connexion">Connexion</a>
            {% endif %}
{#            <br>#}
{#            <nav class="header-top">#}
{#                <ul class="nav-items">#}
{#                    <li class="nav-items"><a href="{{ path ('home')}}">Accueil</a></li>#}
{#                    <li class="nav-items"><a href="{{ path('admin_apropos') }}">A propos</a></li>#}
{#                    <li class="nav-items"><a href="{{ path('admin_list_prestations') }}">Prestation</a></li>#}
{#                    <li class="nav-items"><a href="{{ path('admin_contact')}}">Contact</a></li>#}
{#                    <li class="nav-items"><a href="{{ path('admin_reservation') }}">Prendre rendez-vous</a></li>#}
{#                    <li class="nav-items"><a href="{{ path('admin_liste_reservation') }}">Liste des rendez-vous</a></li>#}
{#                </ul>#}
{#            </nav>#}
        </header>
    {% endblock %}

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer class="footer">
        {% block footer %}
        {% endblock %}
{#    <a href="{{ path ('home')}}"><img class="logo-footer" src="{{ asset('assets/img/logo_emma.jpg') }}"></a>#}
    </footer>
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
{% endblock %}
</body>
</html>
