{% extends 'admin/base.html.twig' %}

{% block title %}
<title>Contact</title>
{% endblock %}

{% block header %}
    <header class="hautpage">
        <a href="{{ path ('home')}}"> <img class="logo-header"  src="{{ asset('assets/img/logo_emma.jpg') }}" ></a>
        <a class="connexion" href="">Connexion</a>
        <a href="{{ path('admin_create_prestation') }}">Créer une prestation</a>

        <nav class="header-top">
            <ul class="nav-items">
                <li class="nav-items"><a href="{{ path ('home')}}">Accueil</a></li>
                <li class="nav-items"><a href="{{ path('admin_apropos') }}">A propos</a></li>
                <li class="nav-items"><a href="{{ path('admin_list_prestations') }}">Prestation</a></li>
                <li class="nav-items"><a href="{{ path('admin_reservation') }}">Prendre rendez-vous</a></li>
                <li class="nav-items"><a href="{{ path('admin_liste_reservation') }}">Liste des rendez-vous</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block body %}

<h1>Emplacement</h1>
<img class="carte" src="{{ asset('assets/img/emplacement_emma.png') }}">
<br>
<br>
    <h1>Contactez moi par téléphone</h1>
    <p>0695581475</p>
    <br>
    <br>
    <h1>Contactez moi par mail</h1>
    <p>Emma.Institut@gmail.com</p>



{% endblock %}