{% extends 'admin/home.html.twig' %}

{% block title %}
<title>Creation de prestation</title>
{% endblock %}


{% block main %}
    <div class="content">
        <div class="form-group">
            {#        {{ form(form) }}#}
            {{ form_start(form) }}

            {{ form_label(form.name, 'Nom de la prestation',{'label_attr':{'class': 'form-label' }}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}

            {{ form_label(form.description, 'Description',{'label_attr':{'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr':{'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}

            {{ form_label(form.duringtime, 'Durée',{'label_attr':{'class': 'form-label'}}) }}
            {{ form_widget(form.duringtime, {'attr':{'class': 'form-control'}}) }}
            {{ form_errors(form.duringtime) }}

            {{ form_label(form.price, 'Prix',{'label_attr':{'class': 'form-label'}}) }}
            {{ form_widget(form.price, {'attr':{'class': 'form-control'}}) }}
            {{ form_errors(form.price) }}

            {{ form_label(form.categoryPrestation, 'Prestation principale',{'label_attr':{'class': 'form-label'}}) }}
            {{ form_widget(form.categoryPrestation, {'attr':{'class': 'form-control'}}) }}
            {{ form_errors(form.categoryPrestation) }}

            {{ form_widget(form.valider, {'attr':{'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}