{% extends 'admin/base.html.twig' %}

{% block title %}
    <title>Les Prestations</title>
{% endblock %}

{% block main %}
    {% for category in categories %}

        <h1>{{ category.name }}</h1>

{#        {% for type in category.type %}#}
{#            <h3>{{ type.name }}</h3>#}
{#            <p>{{ type.description }}</p>#}
{#            <p>{{ type.duringtime|date('H:i') }}</p>#}
{#            <p>{{ type.price }}</p>#}
{#        {% endfor %}#}
        <article>
            {% if category.id == 1 %}
        <a class="lien" href="{{ path ('admin_update_prestation',{'id':category.id })}}">Voulez-vous modifié cette prestation? </a>
        <a class="lien" href="{{ path ('admin_delete_prestation',{'id':category.id })}}">Voulez-vous supprimé cette prestation ? </a>
            {% endif %}
            {% if category.id == 2 %}
                <a class="lien" href="{{ path ('admin_update_prestation',{'id':category.id })}}">Voulez-vous modifié cette prestation? </a>
                <a class="lien" href="{{ path ('admin_delete_prestation',{'id':category.id })}}">Voulez-vous supprimé cette prestation ? </a>
            {% endif %}
            {% if category.id == 3 %}
                <a class="lien" href="{{ path ('admin_update_prestation',{'id':category.id })}}">Voulez-vous modifié cette prestation? </a>
                <a class="lien" href="{{ path ('admin_delete_prestation',{'id':category.id })}}">Voulez-vous supprimé cette prestation ? </a>
            {% endif %}
            {% if category.id == 4 %}
                <a class="lien" href="{{ path ('admin_update_prestation',{'id':category.id })}}">Voulez-vous modifié cette prestation? </a>
                <a class="lien" href="{{ path ('admin_delete_prestation',{'id':category.id })}}">Voulez-vous supprimé cette prestation ? </a>
            {% endif %}
            {% if category.id == 5 %}
                <a class="lien" href="{{ path ('admin_update_prestation',{'id':category.id })}}">Voulez-vous modifié cette prestation? </a>
                <a class="lien" href="{{ path ('admin_delete_prestation',{'id':category.id })}}">Voulez-vous supprimé cette prestation ? </a>
            {% endif %}
        </article>
    {% endfor %}
{% endblock %}