{% extends 'admin/base.html.twig' %}

{#{% block title %}#}
{#    <title>{{ category.type }}</title>#}
{#{% endblock %}#}

{% block main %}

    <article>
        <h1 class="titre">{{ category.name }}</h1>

        {% for type in category.type %}
            <div class="showsolo">
                <p>{{ type.name }}</p>
                <p>{{ type.description }}</p>
                <p>{{ type.duringtime|date('H:i') }}</p>
                <p>{{ type.price }}</p>
                <a class="lien" href="{{ path ('admin_update_prestation',{'id':type.id })}}">Voulez-vous modifié cette prestation? </a>
                <br>
                <a class="lien" href="{{ path ('admin_delete_prestation',{'id':type.id })}}">Voulez-vous supprimé cette prestation ? </a>
            </div>
        {% endfor %}


{#        <a href="{{ path('admin_list_prestations') }}">Retour aux Prestations</a>#}
        <br>

    </article>
{% endblock %}