{% extends 'base.html.twig' %}

{#{% block title %}#}
{#    <title>{{ category.type }}</title>#}
{#{% endblock %}#}

{% block main %}

{#    prestation{{ category.id }} a ajouter dans la classe #}
    <article class="prestationSolo ">
        <h1 class="titre">{{ category.name }}</h1>
        {% for type in category.type %}
        <div class="showsolo">
            <h2>{{ type.name }}</h2>
            <p>{{ type.description }}</p>
            <p>Durée de la prestation : {{ type.duringtime|date('H:i') }} min</p>
            <p>{{ type.price }} €</p>
        </div>
        {% endfor %}


        <a href="{{ path('list_prestations') }}">Retour aux Prestations</a>

    </article>
{% endblock %}