<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>Accueil</title>
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {%  block css %}{% endblock %}
</head>

    <header class="hautpage">
        {% block header %}
            <a href="{{ path ('home')}}"> <img class="logo-header"  src="{{ asset('assets/img/logo_emma.jpg') }}" ></a>
        <nav class="header-top">
            <ul class="nav">
                <li class="nav-items"><a href="{{ path ('home')}}">Accueil</a></li>
                <li class="nav-items"><a href="{{ path('apropos') }}">A propos</a></li>
                <li class="nav-items"><a href="{{ path('list_prestations') }}">Prestation</a></li>
                <li class="nav-items"><a href="{{ path('contact')}}">Contact</a></li>
                <li class="nav-items"><a href="{{ path('reservation') }}">Prendre rendez-vous</a></li>
            </ul>
        </nav>
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="connexion">Deconnexion</a>
            <a href="{{ path('update_user',{'id':app.user.id}) }}" class="connexion">Modifier votre compte</a>

        {% else %}
            <div class="connexionWrapper">
                <a href="{{ path('app_login') }}" class="connexion">Connexion</a>
                <a href="{{ path('create_user') }}" class="connexion">Inscription</a>
            </div>
        {% endif %}

        </header>
        {% endblock %}
<body>

    {% block body %}
    <main>
    {% block main %}
    {% endblock %}
    </main>
    {% endblock %}


</body>
    <footer>
        {% block footer %}
        <div class="contenu-footer">

            <div class="div blo footer-services">
                <h3>Mes services</h3>
                <ul class="liste-services">
                    <li><a href="#">Soin du corps</a></li>
                    <li><a href="#">Beauté des mains et des pieds</a></li>
                    <li><a href="#">Soin du visage</a></li>
                    <li><a href="#">Semi permanent mains et pieds</a></li>
                    <li><a href="#">Epilation</a></li>
                </ul>
            </div>

            <div class="bloc footer-contact">
                <h3>Restons en contact</h3>
                <p>0695581475</p>
                <p>Emma.Institut@gmail.com</p>
                <p>38 allée des castors 33500 libourne</p>
            </div>

            <div class="bloc footer-horaires">
                <h3>Mes horaires</h3>
                <ul class="liste-horaires">
                    <li>✔️Lun 10h-18h</li>
                    <li>✔️Mar 10h-18h</li>
                    <li>✔️Mer 10h-18h</li>
                    <li>✔️Jeu 10h-18h</li>
                    <li>✔️Ven 10h-18h</li>
                    <li>❌️Sam fermé</li>
                    <li>❌️Dim fermé</li>
                </ul>
            </div>

            <div class="bloc footer-media">
                <h3>Mes réseaux </h3>
                <ul class="liste-media">
                    <li><a href="#"><img class="icone-logo" src="{{ asset('assets/img/logo_facebook.png') }}">Facebook</a></li>
                    <li><a href="#"><img class="icone-logo" src="{{ asset('assets/img/logo_insta.jpg') }}"> Instagram</a></li>
                    <li><a href="#"><img class="icone-logo"  src="{{ asset('assets/img/logo_ytb.jpg') }}"> Youtube</a></li>
                </ul>
            </div>

        </div>
        {% endblock %}
        {#    <a href="{{ path ('home')}}"><img class="logo-footer" src="{{ asset('assets/img/logo_emma.jpg') }}"></a>#}
    </footer>
{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/owl.carousel.js') }}"></script>

    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            },
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:2000,
            autoplayHoverPause:true,
            dots:true
        });
    </script>
{% endblock %}
</html>
