{% extends 'base.html.twig' %}


{% block title %}
    <title>L'univers d'EMMA </title>
{#    <h1>Bienvenue sur l'univers d'EMMA</h1>#}
{% endblock %}


{% block header %}
    <header>
        <a href="{{ path ('home')}}"> <img class="logo-header"  src="{{ asset('assets/img/logo_emma.jpg') }}" ></a>
        <a class="connexion" href="{{ path('app_login') }}">Connexion</a>

        <nav class="header-top">
            <ul class="nav-items">
                <li class="nav-items"><a class="items" href="{{ path('admin_apropos') }}">A propos</a></li>
                <li class="nav-items"><a class="items" href="{{ path('admin_list_prestations') }}">Prestation</a></li>
                <li class="nav-items"><a class="items" href="{{ path('admin_contact')}}">Contact</a></li>
                <li class="nav-items"><a class="items" href="{{ path('admin_reservation') }}">Prendre rendez-vous</a></li>
                <li class="nav-items"><a class="items" href="{{ path('admin_liste_reservation') }}">Liste des rendez-vous</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}


{% block main %}
    <p>Ici règne la douceur, la complicité et le bien être, je vous accueille chez moi dans un espace cocooning qui vous mettra
        de suite à l'aise: Soin, épilation, massage, maquillage, il y as forcement quelques chose, qui vous rendra un peu plus heureux et serein!
        <br>
        <br>
        Bienvenue chez moi, bienvenue chez vous.
        <br>
        <br>
        Bienvenue dans mon univers </p>


    <div class="container">
        <div class="carousel">
            <div class="carousel__face"><span>Epilation</span></div>
            <div class="carousel__face"><span>Soin du corp</span></div>
            <div class="carousel__face"><span>Maquillage</span></div>
            <div class="carousel__face"><span>Soin du visage</span></div>
            <div class="carousel__face"><span>Semi permanent</span></div>
            <div class="carousel__face"><span>Me trouver</span></div>


        </div>
    </div>
{% endblock %}