{% extends 'base.html.twig' %}


{% block title %}
    <title>L'univers d'EMMA </title>
{#    <h1>Bienvenue sur l'univers d'EMMA</h1>#}
{% endblock %}

{% block main %}
    <section class="background">
        <div class="textWrapper">
            <h1>
                L'univers d'EMMA, prenez du temps pour vous
            </h1>
            <p>Ici règne la douceur, la complicité et le bien être, je vous accueille chez moi dans un espace cocooning qui vous mettra
                de suite à l'aise: Soin, épilation, massage, maquillage, il y as forcement quelques chose, qui vous rendra un peu plus heureux et serein!
            </p>
            <p>
                Bienvenue chez moi, bienvenue chez vous.
            </p>
            <p>
                Bienvenue dans mon univers
            </p>
        </div>
    </section>

    <div class="owl-carousel owl-theme">
        <div class="item"><h4>Epilation</h4><img src="{{ asset('assets/img/epilation.jpg') }}" alt=""></div>
        <div class="item"><h4>Soin du corps</h4> <img src="{{ asset('assets/img/soin-corps.jpg') }}" alt=""></div>
        <div class="item"><h4>Soin du visage</h4><img src="{{ asset('assets/img/soin_visage.jpg') }}" alt=""></div>
        <div class="item"><h4>Maquillage</h4><img src="{{ asset('assets/img/manon_image.jpg') }}" alt=""></div>
        <div class="item"><h4>Semi permanent</h4><img src="{{ asset('assets/img/semi_permanent.jpeg') }}" alt=""></div>
        <div class="item"><h4>Me trouver</h4><img src="{{ asset('assets/img/emplacement_emma.png') }}" alt=""></div>
    </div>

{#    <div class="container">#}
{#        <div class="carousel">#}
{#            <div class="carousel__face"> <span>Epilation</span></div>#}
{#            <div class="carousel__face"><span>Soin du corp</span></div>#}
{#            <div class="carousel__face"><span>Maquillage</span></div>#}
{#            <div class="carousel__face"><span>Soin du visage</span></div>#}
{#            <div class="carousel__face"><span>Semi permanent</span></div>#}
{#            <div class="carousel__face"><span>Me trouver</span></div>#}


{#        </div>#}
{#    </div>#}
{% endblock %}
